In [1]:
import pandas as pd
import numpy as np

In [3]:
actor = pd.read_csv("actor.csv")
actor

            0             1        2
0        Matt         Damon      NaN
1     Stellan     Skarsg√•rd      NaN
2      Rachel    Majorowski      NaN
3       Casey       Affleck      NaN
4        Matt       Mercier      NaN
5         Rob         Lynds      NaN
6      Alison       Folland      NaN
7         Vik         Sahay      NaN
8         Rob         Lyons      NaN
9      Minnie        Driver      NaN
10      Scott       William  Winters
11    Patrick     O'Donnell      NaN
12      Jimmy         Flynn      NaN
13        Ann     Matacunas      NaN
14  Francesco      Clemente      NaN
15    Jessica        Morton      NaN
16      Libby        Geller      NaN
17    Richard   Fitzpatrick      NaN
18      Chris       Britton      NaN
19      Bruce        Hunter      NaN
20      James        Allodi      NaN
21    Michael        Arthur      NaN
22      Bobby       Curcuro      NaN
23       Riva            Di    Paola
24  Christian       Harmony      NaN
25  Elisabeth          Anne   Hughes
26     Thomas         Lundy      NaN
27     Daniel         Olsen      NaN
28      Brian        Rivers      NaN
29        Jay           Yoo      NaN
30        Ben       Affleck      NaN
31       John       Mighton      NaN
32    Colleen      McCauley      NaN
33       Cole        Hauser      NaN
34      Ralph           St.   George
35        Dan    Washington      NaN
36    Derrick     Bridgeman      NaN
37    Shannon       Egleson      NaN
38     Steven     Kozlowski      NaN
39   Jennifer        Deathe      NaN
40     Philip      Williams      NaN
41      Kevin       Rushton      NaN
42        Joe        Cannon      NaN
43     George      Plimpton      NaN
44      Robin      Williams      NaN
45      Barna        Moricz      NaN
46       Chas       Lawther      NaN
47      Frank     Nakashima      NaN
48      David        Eisner      NaN
49     Robert       Talvano      NaN
50      Steve    Bertorelli      NaN
51       Kent         Damon      NaN
52        Jed      Griswold      NaN
53     Robert       Harrell      NaN
54    Harmony        Korine      NaN
55       Paul  McGillicuddy      NaN
56       Dale    Resteghini      NaN
57    Stephen      Trouskie      NaN

In [4]:
actor_li = actor.drop_duplicates().values.tolist()
actor_li = sum(actor_li, [])
kw_actor = ['actor', 'actors', 'actress', 'actresses', 'acting'] + actor_li

In [4]:
for i in range(0, 100):
    target = "after_slicing/%r.csv" %i
    df = pd.read_csv(target, header=None)
    df.columns = ["RV"]
    
    f_list = []
    actor = []
    
    for j in range(len(df)):
        f_list.append(df.RV[j])
        f_list[j] = f_list[j].split(" ")
    
    for j in range(len(f_list)):
        for keywords in kw_actor:
            for k in range(len(f_list[j])):
                if keywords == f_list[j][k]:
                    actor.append(f_list[j])
                    
    for j in range(len(actor)):
        actor[j] = " ".join(actor[j])
        
    actor = pd.DataFrame(actor)
    actor.to_csv("actor/%r.csv" %i, index=False)